<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Bootcamp Courses</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <h1>Add a new course</h1>
    <form action='/courses/add' method='post'>
        {% csrf_token %}
        <h4>Course Name:</h4> 
        <input type='text' name='name'><br>
        <h4>Course Description:</h4> 
        <textarea type='text' name='desc'></textarea><br>
        <input class='green' type='submit' value='Add Course'>
    </form>
    <h1>Courses</h1>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{course.name}}</td>
            <td>{{course.desc}} </td>
            <td>{{course.created_at}}</td>
            <td><a href="/courses/delete/{{course.id}}">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>